@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
}

a {
    text-decoration: none;
    color: #1a1a1a;
    transition: color 0.3s ease;
}

a:hover, a.active {
    color: #FF7043;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
    color: #222;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header img {
    height: 45px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    font-size: 16px;
    font-weight: 600;
}

#navbar li a::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #FF7043;
    position: absolute;
    bottom: -4px;
    left: 20px;
    transition: width 0.3s;
}

#navbar li a:hover::after, #navbar li a.active::after {
    width: 100%;
}

#mobile, #close {
    display: none;
    align-items: center;
}

#hero {
    background-image: url("./img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
    font-size: 30px;
}

#hero h2 {
    padding-bottom: 15px;
    font-size: 69px;
}

#hero h1 {
    color: #FF7043;
    font-size: 75px;
}

#hero p {
    padding-top: 5px;
    font-size: 24px;
}

#hero button {
    background-image: url(./img/button.png);
    background-color: transparent;
    color: #FF7043;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 23px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    transition: box-shadow 0.3s ease;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #FF7043;
    background-color: #fddde4;
    cursor: pointer;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: box-shadow 0.3s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #FF7043;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #f7e8e5;
    color: #FF7043;
    border: 1px solid #f7ddd4;
    position: absolute;
    bottom: 12px;
    right: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./img/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: #ef3636;
}

#banner button:hover {
    background-color: #FF7043;
    color: #fff;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(./img/banner/b17.jpg);
    min-width: 760px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    margin: 20px 0;
    padding: 0 50px;
}

#sm-banner .banner-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(./img/banner/b10.jpg);
    min-width: 360px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    margin: 20px 0;
    padding: 0 50px;
}

#sm-banner h4 {
    font-size: 14px;
    color: #fff;
}

#sm-banner h2 {
    font-size: 28px;
    color: #fff;
    padding: 10px 0;
}

#sm-banner h2 span {
    color: #FF7043;
}

#sm-banner button:hover {
    background-color: #FF7043;
    color: #fff;
}

#banner3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./img/banner/b22.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner3 h2 {
    font-size: 30px;
    color: #222;
    padding: 10px 0;
}

#banner3 h2 span {
    color: #ef3636;
}

#banner3 button:hover {
    background-color: #FF7043;
    color: #fff;
}

#newsletter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: #f6f6f6;
    border-radius: 12px;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.06);
}

#newsletter h4 {
    font-size: 16px;
    color: #222;
}

#newsletter p {
    font-size: 12px;
    color: #222;
}

#newsletter .form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#newsletter .form input {
    height: 30px;
    padding: 10px;
    font-size: 14px;
    color: #333;
    outline: none;
    border: 1px solid #222;
    border-radius: 4px;
}

#newsletter .form button {
    background-color: #222;
    color: #fff;
    height: 30px;
    cursor: pointer;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

#newsletter .form button:hover {
    background-color: #FF7043;
}

#footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 45px 80px;
    background-color: #222;
}

#footer img {
    margin-bottom: 30px;
}

#footer h4 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}

#footer a {
    color: #b8b8b8;
    font-size: 12px;
    padding-bottom: 12px;
    transition: color 0.3s ease;
}

#footer a:hover {
    color: #fff;
}

#footer .follow i {
    color: #fff;
    padding-right: 10px;
}

.copyright {
    color: #b8b8b8;
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
    background-color: #000;
}

@media (max-width: 768px) {
    #mobile, #close {
        display: block;
    }

    #navbar {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        background-color: #fff;
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        height: 100vh;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
        z-index: 999;
        padding-top: 60px;
    }

    #navbar li {
        padding: 10px 20px;
    }

    #navbar li a {
        font-size: 18px;
    }

    #navbar li a::after {
        left: 0;
        bottom: -10px;
    }
}

@media (max-width: 600px) {
    #hero h1 {
        font-size: 50px;
    }

    #hero h2 {
        font-size: 40px;
    }

    #hero p {
        font-size: 18px;
    }

    #hero button {
        font-size: 18px;
        padding: 10px 50px;
    }

    #product1 .pro {
        width: 48%;
        min-width: 150px;
    }
}
